/* static/style.css */
body {
    width: 90%; /* 设置宽度为90% */
    margin:0 auto; /* 居中 */
    min-height: 100vh;   /* 设置最小高度为100vh */
    /* display: flex; */
    justify-content: center; /* 新增：水平居中 */
    align-items: center; /* 新增：垂直居中 */
    min-height: 100vh; /* 新增：设置最小高度为100vh */
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    text-align: center;
    margin-top: 20px;
}

header {
    background-color: #f8f9fa; /* 可以设置背景颜色 */
    height: 6%; /* 占据10%的高度 */
    background-color: aqua;
    display: flex;
    justify-content: center; /* 新增：水平居中 */
    align-items: center; /* 新增：垂直居中 */
}

nav {
    height: 2.5%; /* 示例中给导航栏预留5%的高度 */
    background-color: aquamarine;
    text-align: center;
    justify-content: center; /* 新增：水平居中 */
}

/* main {

    margin: 0 auto;
    padding: 20px;
    background-color: #99FF00;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:black;
    text-align: left; 居中文本 */
/* } */

.container {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-image: linear-gradient(#ffffff 1.1rem, #ccc 1.2rem);
    background-size: 100% 1.2rem;
  }

table {
    margin: 0 auto; /* 居中表格 */
    width: 100%; /* 设置表格宽度 */
}

td, th {
    text-align: center; /* 居中表格单元格 */
}

footer {
    height: 2.5%; /* footer同样占据10%的高度 */
    background-color: blanchedalmond;
    display: flex;
    justify-content: center; /* 新增：水平居中 */
    align-items: center; /* 新增：垂直居中 */
}

button {
    background-color: #eee;          /* 背景颜色 */
    border: none;                    /* 移除边框 */
    padding: 1rem;                   /* 内边距为1rem */
    font-size: 1rem;                 /* 字体大小为1rem */
    width: 10em;                     /* 宽度为10em */
    border-radius: 1rem;             /* 圆角半径为1rem */
    color: lightcoral;               /* 文字颜色为浅珊瑚色 */
    box-shadow: 0 0.4rem #dfd9d9;    /* 添加阴影效果 */
    cursor: pointer;                 /* 鼠标指针显示为手型 */
}

button:active {
    color: white;                    /* 按下时文字颜色变为白色 */
    box-shadow: 0 0.2rem #dfd9d9;    /* 按下时阴影变小 */
    transform: translateY(0.2rem);   /* 按下时按钮向下移动0.2rem */
}

button:hover:not(:disabled) {
    background: lightcoral;          /* 悬停时背景变为浅珊瑚色 */
    color: white;                    /* 悬停时文字颜色变为白色 */
    text-shadow: 0 0.1rem #bcb4b4;  /* 悬停时添加文字阴影 */
}

button:disabled {
    cursor: auto;                    /* 禁用时鼠标指针显示为默认样式 */
    color: grey;                     /* 禁用时文字颜色为灰色 */
}
