{{define "footer"}}

<footer class="footer">
    {{ $contentname:=.ContentName }}
    {{ range .FooterLinks }}
        <a href="/{{.Footer_language_short }}/{{ $contentname }}">{{.Footer_language_long }}</a>
    {{ end }}
    <p>&copy; 2024 by Dou Xiaobo. All rights reserved.</p>
</footer>

{{end}}