
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
    {{template "header" .}}
    {{template "nav" .}}
    <h1>{{.Title}}</h1>
    <p>Welcome, {{.Name}}!</p>
    <p>language is {{.Language}}.</p>
    {{template "footer" .}}
</body>
</html>
