<!DOCTYPE html>
<html lang="{{.Language}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div>
        {{template "header" .}}
    </div>
    <div>
        {{template "nav" .}}
    </div>
    <div>
        <main class="container">
            {{ if eq .ContentName "learning" }}
                {{ template "learning_sub_nav" .}}
            {{ end }}
            {{.Content}}
        </main>
    </div>
    <div>
        {{template "footer" .}}
    </div>
</body>
</html>
