<!DOCTYPE html>
<html>
<head>
	<title>{{.Title}}</title>
</head>
<body>
	<h1>{{.Title}}</h1>
	<p>{{.Content}}</p>
    <p>This is a sample template in Go.</p>
    <p>Hello, {{.Name}}!</p>
    <p>{{.Footer}}</p>
</body>
</html>